@font-face {
    font-family: Pixgamer;
    src: url("fonts/PixgamerRegular-OVD6A.ttf");
}

* {
    font-family: Pixgamer;
    color: white;
}

h1 {
    display: flex;
    font-weight: 200;
    font-size: 64px;
    justify-content: center;
    width: auto;
}

body {
    background-color: black;
}