@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pixgamer;
    src: url("fonts/PixgamerRegular-OVD6A.ttf");
}

* {
    font-family: Pixgamer;
    color: transparent;
    background-color: transparent;
    border-width: 0px;
}

button {
    opacity: 0;
}

body {
    background-color: black;
}

img {
    opacity: 0;
    color: transparent;
}

a {
    color: transparent;
}