@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pixgamer;
    src: url("fonts/PixgamerRegular-OVD6A.ttf");
}

* {
    font-family: Pixgamer;
    color: black;
    background-color: black;
}